@using StockGraphAnalyser.Domain
@model IEnumerable<Signal>

@{
    ViewBag.Title = "Find New Trades";
}

<h2>Potential Trades</h2>

<table style="float: left;">
  <tr><th colspan="2">Buy</th></tr>
    @foreach (var signal in Model.Where(t => t.SignalType == SignalType.Buy))
    {
        <tr><td>@Html.ActionLink(signal.Symbol, "Index", "Technicals", new{symbol = signal.Symbol}, null)</td>
            <td>@signal.Date.ToString("yyyy-MM-dd")</td></tr>
    }
</table>  

<table style="float: left;">
   <tr><th colspan="2">Sell</th></tr>
    @foreach (var signal in Model.Where(t => t.SignalType == SignalType.Sell))
    {
        <tr><td>@Html.ActionLink(signal.Symbol, "Index", "Technicals", new{symbol = signal.Symbol}, null)</td>
            <td>@signal.Date.ToString("yyyy-MM-dd")</td></tr>
    }
</table>  

<table style="float: left;">
    <tr><th colspan="2">Take Profits</th></tr>
    @foreach (var signal in Model.Where(t => t.SignalType == SignalType.TakeProfits))
    {
        <tr><td>@Html.ActionLink(signal.Symbol, "Index", "Technicals", new{symbol = signal.Symbol}, null)</td>
            <td>@signal.Date.ToString("yyyy-MM-dd")</td></tr>
    }
</table>