@model List<StockGraphAnalyser.FrontEnd.Models.Views.TradeHistoryPerformanceEntry>
@{
    Layout = null;    
}

<table>
   <tr style="font-size: 12px">
            <th>Date</th>
            <th>Current Equity</th>
       <th>Signal</th>
       <th>Price</th>
            <th>Percentage Change</th>
    </tr>
    @foreach (var trade in Model)
    {

        var postiveOrNegative = "black";
        if (trade.PercentageChange > 0)
        {
            postiveOrNegative = "green";
        }
        else if (trade.PercentageChange < 0)
        {
            postiveOrNegative = "red";
        }


        <tr>
            <td>@trade.DateTime.ToString("dd MMM yyyy")</td>
            <td>&pound;@Math.Round(trade.CurrentEquity.Value, 2)</td>
            <td>@trade.SignalType</td>
            <td>@trade.CurrentPrice</td>
            <td style="font-weight: bold; color: @postiveOrNegative">@Math.Round(trade.PercentageChange, 2)%</td>
        </tr>
    }   
</table>


